{% extends "yuu/layout.html" %}
{% block content %}
<center>
<h1>あげるもの・できることリスト</h1>
<hr class="hbreak"/>
</center>
<table width="100%" height="70%" cellspacing="5" cellpadding="10">
<tr align="center">
<th bgcolor="#ba9bc9">登録日時</th>
<th bgcolor="#ba9bc9">誰から</th>
<th bgcolor="#ba9bc9">何を</th>
<th bgcolor="#ba9bc9">いつまで</th>
</tr>
{% for contribution in contributions %}
{% if contribution['name'] == name %}
<tr style="color: #ff8080">
{% else %}
<tr>
{% endif %}
<td>{{contribution['timestamp']}}</td>
<td>{{contribution['name']}}</td>
<td>{{contribution['item']}}</td>
<td>{{contribution['good_until']}}</td>
</tr>
{% endfor %}
</table>
<center>
<hr class="hbreak"/>
<button type="button" class="backbutton"　name="back" onclick="location.href='/yuu/'" value="sss">
メニューに戻る
</button>
</center>
{% endblock %}
