{% extends "yuu/layout.html" %}
{% block content %}
<div>
{% if [0, 1] | random == 0 %}
<img src="/yuu/static/images/yuu-logo.jpg" width="100%"  alt="top-picture">
{% else %}
<img src="/yuu/static/images/yuu-top-{{ [1, 2] | random }}.jpg" width="100%"  alt="top-picture">
{% endif %}
</div>
<center>
<p>
初めてですか？ →<a href="/yuu/register">登録してください</a>
</p>
</center>
<center>
<h2>ニックネームをどうぞ</h2>
<hr class="hbreak"/>
</center>
<form action="/yuu/log-in" method="post">
<div>
<center>
<p>
ニックネーム：<br/>
<input type="text" name="name" required/>
</p>
<p>
* Cookie を有効にしておいてください。
</p>
</center>
</div>
<center>
<hr class="hbreak"/>
<p><button type="submit" class="widebutton">
ログイン
</button>
</p>
</center>
</form>
{% endblock %}
