{% extends "kmdmarche/layout.html" %}
{% block content %}
<center>
<h1>{{menu_name}} for {{name}}</h1>
<h1>>>>>></h1>
<h2>Your balance : {{ balance }}&nbsp;{{symbol}}</h2>
<h2>Money you paid : {{ spendcoin }}&nbsp;{{symbol}}</h2>
<h2>Money you received : {{ getcoin }}&nbsp;{{symbol}}</h2>
<h1>>>>>></h1>
<table width="100%" height="70%">
<tr align="center">
<th bgcolor="#eeb417">Buyer</th>
<th bgcolor="#eeb417">Time</th>
<th bgcolor="#eeb417">Item</th>
<th bgcolor="#eeb417">Money</th>
<th bgcolor="#eeb417">Seller</th>
</tr>
{% for tx in transactions %}
{% if tx['to_name'] == name %}
<tr style="color: #ff8080">
{% else %}
<tr>
{% endif %}
<td>{{tx['from_name']}}</td>
<td>{{tx['timestamp']}}</td>
<td>{{tx['label']}}</td>
<td align="right">{{tx['amount']}}&nbsp;{{symbol}}</td>
<td>{{tx['to_name']}}</td>
</tr>
{% endfor %}
</table>
<h1>>>>>></h1>
<button type="button" class="backbutton"　name="back" onclick="location.href='/kmdmarche/'" value="sss">
Back to Menu
</button>
</center>
{% endblock %}
