{% extends "yuu/layout.html" %}
{% block content %}
<center>
<h1>ほしいもの・してほしいこと</h1>
<hr class="hbreak"/>
<form action="/yuu/needs" method="post">
<h2>何がほしい・してほしいですか？</h2>
<p>
<input type="text" name="item" list="item" placeholder="選ぶか入力してください" autocomplete="off" required>
  <datalist id="item">
    <option value="手伝い">
    <option value="話相手">
  </datalist>
</p>
<h2>いつまでに？</h2>
<p>省略すると「いつまでも」になります。
時刻を省略するとその日の終わりまでになります。</p>
<p>
<input type="date" name="date" placeholder="yyyy-mm-dd"/>
<input type="time" name="time" placeholder="HH:MM"/>
</p>
<hr class="hbreak"/>
<button type="submit" class="widebutton" value="Open">
公開する
</button>
</form>
<div>
</div>
<hr class="hbreak"/>
<button type="button" onclick="location.href='/yuu/'" class="backbutton"　name="back">
メニューに戻る
</button>
</center>
{% endblock %}
