{% extends "kmdmarche/layout.html" %}
{% block content %}
<center>
<h1>{{menu_name}}</h1>
<h3>{{ info }}</h3>
<h1>>>>>></h1>
</center>
<table width="100%" height="70%" cellspacing="5" cellpadding="10">
<tr align="center">
<th bgcolor="#eeb417">Seller</th>
<th bgcolor="#eeb417">Time</th>
<th bgcolor="#eeb417">Item</th>
</tr>
{% for shop in shops %}
{% if shop['name'] == name %}
<tr style="color: #ff8080">
{% else %}
<tr>
{% endif %}
<td>{{shop['name']}}</td>
<td>{{shop['timestamp']}}</td>
<td>{{shop['item']}}</td>
</tr>
{% endfor %}
</table>
<center>
<h1>>>>>></h1>
<button type="button" class="backbutton"　name="back" onclick="location.href='/kmdmarche/'" value="sss">
Back to Menu
</button>
</center>
{% endblock %}
