{% extends "yuu/layout.html" %}
{% block content %}
<div>
{% if [0, 1] | random == 0 %}
<img src="/yuu/static/images/yuu-logo.jpg" width="100%"  alt="top-picture">
{% else %}
<img src="/yuu/static/images/yuu-top-{{ [1, 2] | random }}.jpg" width="100%"  alt="top-picture">
{% endif %}
</div>
<center>すでにメンバー？ <a href="/yuu/log-in">ログイン</a></center>
<center>
<h2>ニックネームを決めて！</h2>
<h3>日時: {{ time }}</h3>
<h1>>>>>></h1>
</center>
<form action="/yuu/register" method="post">
<div>
<center>
<h3>ニックネーム：<input type="text" name="name" /></h3>
</center>
</div>
<center>
<h1>>>>>></h1>
<p><button type="submit" class="widebutton">
登録
</button>
</p>
</center>
</form>
{% endblock %}
