{% extends "kmdmarche/layout.html" %}
{% block content %}
<center>
<h1>{{menu_name}}</h1>
<p>{{ info }}</p>
<form action="/kmdmarche/shopowner" method="post">
<h1>>>>>></h1>
<h2>What do you want to sell?</h2>
<p/>
<h3>
<input type="text" name="a" list="item" placeholder="select or input" autocomplete="off">
  <datalist id="item">
    <option value="Coffee">
    <option value="Origami">
    <option value="Guitar">
    <option value="Tell Your Story">
  </datalist>
</h3>
<h2>Open Time: {{ time }}</h2>
<h1>>>>>></h1>
<button type="submit" class="widebutton" value="Open">
Open
</button>
</form>
<div>
</div>
<h1>>>>>></h1>
<button type="button" onclick="location.href='/kmdmarche/'" class="backbutton"　name="back"  value="sss">
Back to Menu
</button>
</center>
{% endblock %}
