{% extends "yuu/layout.html" %}
{% block content %}
<center>
<h1>yuu' へようこそ</h1>
<h1>>>>>><br/>ごきげんいかがですか？ </h1>
<h1>{{name}}!<br/>>>>>></h1>
</center>
<center>
<p>
<button type="button" class="widebutton" name="qr" onclick="location.href='/yuu/pay'">
何かする？
</button>
</p>
<p>
<button type="button" class="widebutton" name="openashop" onclick="location.href='/yuu/contributions'" value="ddd">
何かできることがある？
</button>
<p/>
<p>
<button type="button" class="widebutton"　name="TX" onclick="location.href='/yuu/tx'" value="eee">
これまでの取引
</button>
</p>
<p>
<button type="button" class="widebutton"　name="shops" onclick="location.href='/yuu/contributionlist'" value="fff">
できることリスト
</button>
</p>
<p>
<button type="button" class="widebutton" name="logout" onclick="location.href='/yuu/log-out'" value="fff">
ログアウト
</button>
</p>
</center>
{% endblock %}
