{% extends "yuu/layout.html" %}
{% block content %}
<center>
<h1>{{menu_name}}<br/>>>>>></h1>
<h2>{{ info }}</h2>
<button type="button" class="widebutton"　name="mypage" onclick="location.href='/yuu/mypage'" value="fff">
私のページ
</button>
<br/>
<h1>>>>>></h1>
</center>
<br/>
<table width="100%" height="70%" cellspacing="5" cellpadding="10">
<tr align="center">
<th bgcolor="#eeb417">誰が</th>
<th bgcolor="#eeb417">何を</th>
<th bgcolor="#eeb417">いつ</th>
<th bgcolor="#eeb417">誰から</th>
</tr>
{% for tx in transactions %}
<tr>
<td>{{tx['from_name']}}</td>
<td>{{tx['label']}}</td>
<td>{{tx['timestamp']}}</td>
<td>{{tx['to_name']}}</td>
</tr>
{% endfor %}
</table>
<ul class="listnav">
{% if count_before > 0 %}
<li><a href="/yuu/tx?offset={{0 if count_before < count else count_before - count}}">&laquo; 前へ</a></li>
{% else %}
<li><span style="color: #808080;">&laquo; 前へ</span></li>
{% endif %}
{% if count_after > 0 %}
<li><a href="/yuu/tx?offset={{count_before + count}}">次へ &raquo;</a></li>
{% else %}
<li><span style="color: #808080;">次へ &raquo;</span></li>
{% endif %}
</ul>
<center>
<h1>>>>>></h1>
<button type="button" class="backbutton"　name="back" onclick="location.href='/yuu/'" value="sss">
メニューに戻る
</button>
</center>
{% endblock %}
